<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
    <title>Smart Skep</title>
</head>
<body class="flex flex-col ff-poppins relative">
    <div class="bg-overlay hide"></div>

    <main>
        <div class="under-construction-page-wrapper flex flex-col justify-c">
            
            <div class="count-down-wrapper flex flex-col">
                <div class="logo-wrapper">
                    <img src="../assets/images/logos/logo.svg" alt="">
                </div>
                <div class="count-down-content-wrapper flex flex-row">
                    <div class="count-down flex flex-col justify-c align-items-c">
                        <p class="count-down-number txt-massive txt-align-c">
                            27
                        </p>
                        <div class="bubble flex justify-c align-items-c">
                            <p class="txt-regular txt-align-c">day</p>
                        </div>
                    </div>

                    <div class="count-down flex flex-col justify-c align-items-c">
                        <p class="count-down-number txt-massive txt-align-c">
                            02
                        </p>
                        <div class="bubble flex justify-c align-items-c">
                            <p class="txt-regular txt-align-c">hour</p>
                        </div>
                    </div>


                    <div class="count-down flex flex-col justify-c align-items-c">
                        <p class="count-down-number txt-massive txt-align-c">
                            39
                        </p>
                        <div class="bubble flex justify-c align-items-c">
                            <p class="txt-regular txt-align-c">min</p>
                        </div>
                    </div>

                    <div class="count-down flex flex-col justify-c align-items-c ">
                        <p class="count-down-number txt-massive txt-align-c">
                            35
                        </p>
                        <div class="bubble flex justify-c align-items-c">
                            <p class="txt-regular txt-align-c">sec</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer class="flex flex-row align-items-c justify-c">
        <p class="txt-align-c txt-regular">
            We are at present working on an awesome new site. Stay tuned 
        </p>
    </footer>
    <script src="../assets/js/build/main.js"></script>
</body>
</html>